@charset "UTF-8";

.plan-submit-btn {
	width:124px;
	margin:0 0 0 130px;
	padding: 0;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}
.plan-submit-btn a{
	display: block;
	width: 124px;
	height: 33px;
	padding: 5px 0 0 0;
	margin: 0;
	background-image: url('../images/maintenance-btn.png');
	background-position: left top;
	background-repeat: no-repeat;
}
.plan-submit-btn a:hover{
	background-image: url('../images/maintenance-btn-h.png') !important;
	background-position: left top !important;
	background-repeat: no-repeat !important;
	background: transparent;
}
.plan-btn {
	width:124px;
	margin: 10px auto 0px;
	padding: 5px 0 0 0;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}
.plan-btn a{
	display: block;
	width: 124px;
	height: 33px;
	padding: 5px 0 0 0;
	margin: 0;
	background-image: url('../images/maintenance-btn.png');
	background-position: left top;
	background-repeat: no-repeat;
}
.plan-btn a:hover{
	background-image: url('../images/maintenance-btn-h.png') !important;
	background-position: left top !important;
	background-repeat: no-repeat !important;
	background: transparent;
}
.plan-btn2 {
	width:124px;
	margin:23px 43px 0 0;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	float: right;
	clear: none;
}
.plan-btn2 a{
	display: block;
	width: 124px;
	height: 33px;
	padding: 5px 0 0 0;
	margin: 0;
	background-image: url('../images/maintenance-btn.png');
	background-position: left top;
	background-repeat: no-repeat;
}
.plan-btn2 a:hover{
	background-image: url('../images/maintenance-btn-h.png') !important;
	background-position: left top !important;
	background-repeat: no-repeat !important;
	background: transparent;
}
.close-btn {
	width:124px;
	margin: 20px auto;
	padding: 0;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}
.close-btn a{
	display: block;
	width: 124px;
	height: 33px;
	padding: 5px 0 0 0;
	margin: 0;
	background-image: url('../images/maintenance-btn.png');
	background-position: left top;
	background-repeat: no-repeat;
}
.close-btn a:hover{
	background-image: url('../images/maintenance-btn-h.png') !important;
	background-position: left top !important;
	background-repeat: no-repeat !important;
	background: transparent;
}
.submit-btn {
	width:124px;
	margin:20px 0 0 100px;
	padding: 0;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}
.submit-btn a{
	display: block;
	width: 124px;
	height: 33px;
	padding: 5px 0 0 0;
	margin: 0;
	background-image: url('../images/maintenance-btn.png');
	background-position: left top;
	background-repeat: no-repeat;
}
.submit-btn a:hover{
	background-image: url('../images/maintenance-btn-h.png') !important;
	background-position: left top !important;
	background-repeat: no-repeat !important;
	background: transparent;
}

.apply-btn {
	width:124px;
	margin:20px 0 0 0;
	padding: 0;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}
.apply-btn a{
	display: block;
	width: 124px;
	height: 33px;
	padding: 5px 0 0 0;
	margin: 0;
	background-image: url('../images/maintenance-btn.png');
	background-position: left top;
	background-repeat: no-repeat;
}
.apply-btn a:hover{
	background-image: url('../images/maintenance-btn-h.png') !important;
	background-position: left top !important;
	background-repeat: no-repeat !important;
	background: transparent;
}
.view-btn {
	width:165px;
	margin:20px 0 0 0;
	padding: 0;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}
.view-btn a{
	display: block;
	width: 165px;
	height: 33px;
	padding: 5px 0 0 0;
	margin: 0;
	background-image: url('../images/view-btn.png');
	background-position: left top;
	background-repeat: no-repeat;
}
.view-btn a:hover{
	background-image: url('../images/view-btn-h.png') !important;
	background-position: left top !important;
	background-repeat: no-repeat !important;
	background: transparent;
}
.background-bg3 {
	background-image: url('../images/background3.jpg');
	background-position: top;
	background-repeat: repeat-x;
	min-height: 680px;
}